<!DOCTYPE html>
<html>
    <head>
        <title>home page</title>
    </head>
    <body>
        <h3><a href="{{url_for('list')}}">EMPLOYEE MANAGEMENT SYSTEM</a></h3>

        {%- for message in get_flashed_messages() %} 
          {{ message }}
        {%- endfor %} 

    <h3>Employee details </h3>


<h3>Students(<a href="{{url_for('add')}}">click to store</a>)</h3>

    <table border="2" padding="5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Salary</th>
                <th>AGe</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in Employees %} 
               <tr>
                   <td>{{employee.name}}</td>
                   <td>{{employee.salary}}</td>
                   <td>{{employee.age}}</td>
               </tr>
               {% endfor %}
        </tbody>
    </table>
    </body>
</html>